---
const { comment } = Astro.props;
---
<li class="comment">
  <div class="by">
    <a href={`/user/${comment.user}`}>${comment.user}</a>
    {` ${comment.time_ago}`}
  </div>
  <div class="text" set:html={comment.content}/>
  {
    comment.comments.length ?
    <>
      <div class="toggle open">
        <a data-cc={comment.id}>[-]</a>
        <a data-ce={comment.id}>[+] comments collapsed</a>
      </div>
      <ul
        data-cs={comment.id}
        class="comment-children"
      >
        {comment.comments.map(nested => <Astro.self comment={nested} />)}
      </ul>
    </>
 : ""
  }
</li>