---
const { story } = Astro.props;
---

<li class="news-item">
  <span class="score">{story.points}</span>
  <span class="title">
    {story.url && !story.url.startsWith("item?id=") ? (
      <>
        <a href={story.url} target="_blank" rel="noreferrer">
          {story.title}
        </a>
        <span class="host"> ({story.domain})</span>
      </>
    ) : (
      <a href={`/item/${story.id}`}>{story.title}</a>
    )}
  </span>
  <br />
  <span class="meta">
    {story.type !== "job" ? (
      <>
        by <a href={`/users/${story.user}`}>{story.user}</a>{" "}
        {story.time_ago} |{" "}
        <a href={`/stories/${story.id}`}>
          {story.comments_count
            ? `${story.comments_count} comments`
            : "discuss"}
        </a>
      </>
    ) : (
      <a href={`/stories/${story.id}`}>{story.time_ago}</a>
    )}
  </span>
  {story.type !== "link" && (
    <span class="label">{story.type}</span>
  )}
</li>