---
import Layout from "../../components/Layout.astro"
import { getUser } from "../../lib/api";
const user = await getUser(Astro.params.id);
---
<Layout>
  <div class="user-view">
    {user && user.error ? (
      <h1>User not found.</h1>
    ) : (
      <>
        <h1>User : {user.id}</h1>
        <ul class="meta">
          <li>
            <span class="label">Created:</span> {user.created}
          </li>
          <li>
            <span class="label">Karma:</span> {user.karma}
          </li>
          {user.about && (
            <li
              set:html={user.about}
              class="about"
            />
          )}
        </ul>
        <p class="links">
          <a href={`https://news.ycombinator.com/submitted?id=${user.id}`}>
            submissions
          </a>{" "}
          |{" "}
          <a href={`https://news.ycombinator.com/threads?id=${user.id}`}>
            comments
          </a>
        </p>
      </>
    )}
  </div>
</Layout>